
/* Set the width of the scrollbar */
::-webkit-scrollbar {
  width: 8px; /* You can adjust this width as needed */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  width: 1px; /* Set the width of the scrollbar thumb */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
